@import url('https://fonts.googleapis.com/css?family=Merienda+One|Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Barriecito');

/*CSS for shared content*/
body {
    background-color: #561b1a;
    font-family: 'Open Sans', Arial, sans-serif;
    color:#99efa7;
}

h1 {
    font-family: 'Barriecito', 'Brush Script MT', cursive;
    color: #99efa7;
    padding:75px;
}

h2, h3 {
    font-family: 'Barriecito', 'Brush Script MT', cursive;
}

header {
    width: 100%;
    font-size: xx-large;
    background: #d5531f url('../images/header-background-compressed.jpg') center right / 105%;
    border-radius:30px;
}

nav {
    font-size: 1.5rem;
    display: flex;
    justify-content: space-around;
    align-self: flex-end;
    z-index: 5;
}

a{
    margin: 0px;
    color:#fbb70d;
    text-transform: uppercase;
    text-decoration: none;
}

a:hover{
    color:#99efa7
}


.text-center {
    text-align: center;
}

footer {
    display:flex;
    justify-content: space-around;
    background: black url('../images/saxophonist-compressed.jpg') center / 80%;
    font-size: 1.5rem;
    color:#fbb70d;
    border-radius: 10px;
    margin-top: 40px;
}

footer a {
    font-family: 'Barriecito', 'Brush Script MT', cursive;
    color:#fbb70d;
}

div > img {
    border-radius: 30px;
}

.big-font{
    font-size: x-large;
}

.cyan-color {
    color:#99efa7;
}

/*main page css*/
#bottom-contact-button {
    font-weight: bold;
    color: black;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    background-color: orange;
}

#bottom-contact-button:hover {
    color:#fbb70d;
    background-color: #561b1a;
}

.schedule-container {
    width: 100%;
    justify-content: center;
}

.hyde-brass-small {
    width: 100%;
}

/*menu page CSS*/
.menu-section{
    background-color: #f24a2e;
    border: 2px solid black;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 15px;
    padding: 10px 0px;
}

.menu-section-reverse{
    flex-direction: row-reverse;
}

ol{
    position: relative;
}


/*Contact section CSS*/
#contact-section {
    width: 100%;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    background: #d5531f url('../images/double-bass.jpg') center left;
    color: #99efa7;
    max-width: 40rem;
    border-radius: 30px;
    margin-top: 30px;
}

#contact-form-flex {
    flex-direction: column;
    justify-content: center;
    align-items: center;
}

#extrainfo {
    resize: none;
    width: 90%;
}



input[type=submit] {
    height: 40px;
    border: 2px solid black;
    border-radius: 5px;
    margin: 10px;
    font-family: 'Barriecito', 'Brush Script MT', cursive;
    font-size: 1.5rem;
    color: #99efa7;
    background-color:#f24a2e;
}

input[type=reset] {
    height: 40px;
    border: 2px solid black;
    border-radius: 5px;
    margin: 10px;
    font-family: 'Barriecito', 'Brush Script MT', cursive;
    font-size: 1.5rem;
    color: #f24a2e;
    background-color:#99efa7;
}

input[type=submit]:hover {
    background-color:#561b1a;
    color: #f24a2e;
}


input[type=reset]:hover {
    color:#99efa7;
    background-color:#561b1a
}

/*Sent form CSS*/
#sentform-div {
    background:#d5531f url('../images/piano.jpg') center bottom / 100%;
    color: #f24a2e;
    flex-direction: column;
    align-items: center;
    margin: 20px;
    border:2px solid black;
    border-radius: 30px;
    width: 50%;
}

#homepage-from-formsent-button {
    font-family: 'Barriecito', 'Brush Script MT', cursive;
    color: black;
    background-color: #fbb70d;
    margin: 20px 0px 70px;
    border: 2px solid black;
    border-radius: 30px;
    width: auto;
    padding: 30px;
}

#homepage-from-formsent-button:hover {
    pointer-events: auto;
    background-color: #561b1a;
    color: #99efa7;
}

/*flex stuff*/
.flex {
    display: flex;
}

.flex-center{
    justify-content: center;
}


@media screen and (max-width: 714px) {
    .schedule-container, .menu-section {
        flex-direction: column;
    }

    footer {
        flex-direction: column;
        align-items: center;
    }
}
    
