@import url('https://fonts.googleapis.com/css?family=Merienda+One|Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Barriecito');

body {
    background-color: #561b1a;
    font-family: 'Open Sans', Arial, sans-serif;
    color:#99efa7;
}

h1 {
    font-family: 'Barriecito', 'Brush Script MT', cursive;
    color: #99efa7;
    padding:75px;
    margin: none;
}

h2, h3 {
    font-family: 'Barriecito', 'Brush Script MT', cursive;
}

header {
    width: 100%;
    font-size: xx-large;
    background: #d5531f url('../images/header-background-compressed.jpg') center right / 105%;
    border-radius:30px;
}

nav {
    font-size: 1.5rem;
    display: flex;
    justify-content: space-around;
    align-self: flex-end;
    margin: none;
    z-index: 5;
}

a{
    margin: 0px;
    color:#fbb70d;
    text-transform: uppercase;
    text-decoration: none;
}

a:hover{
    color:#99efa7
}


.text-center {
    text-align: center;
}

footer {
    display:flex;
    justify-content: space-around;
    background: black url('../images/saxophonist-compressed.jpg') center / 80%;
    font-size: 1.5rem;
    color:#fbb70d;
    border-radius: 10px;
    margin-top: 40px;
}

footer a {
    font-family: 'Barriecito', 'Brush Script MT', cursive;
    color:#fbb70d;
}

.menu-section{
    background-color: #f24a2e;
    border: 2px solid black;
    width: 97%;
    display: flex;
    justify-content: space-around;
    align-items: center;
    margin: 15px;
    padding: 10px 0px;
}

.menu-section-reverse{
    flex-direction: row-reverse;
}

ol{
    position: relative;
    right: 3rem;
}

#bottom-contact-button {
    font-weight: bold;
    color: black;
    border: 1px solid black;
    border-radius: 5px;
    padding: 5px;
    background-color: orange;
    
}

#hyde-brass {
    width: 80%;
}
.flex {
    display: flex;
}

div > img {
    border-radius: 30px;
}

#sentform-div {
    border: 2px solid black;
}

input[type=submit] {
    height: 40px;
    border: 2px solid black;
    border-radius: 5px;
    margin: 10px;
    font-family: 'Barriecito', 'Brush Script MT', cursive;
    font-size: 1.5rem;
    color: #99efa7;
    background-color:#f24a2e;
}

input[type=reset] {
    height: 40px;
    border: 2px solid black;
    border-radius: 5px;
    margin: 10px;
    font-family: 'Barriecito', 'Brush Script MT', cursive;
    font-size: 1.5rem;
    color: #f24a2e;
    background-color:#99efa7;
}

input[type=submit],
input[type=reset]:focus {
    color:#99efa7;
    background-color:#561b1a
}

#contact-section {
    background: #d5531f url('../images/double-bass.jpg') center left;
    color: #99efa7;
    width: 30%;
    border-radius: 30px;
    margin-top: 30px;
}

#contact-form-flex {
    flex-direction: column;
    justify-content: center;
    align-items:center;
}

