@import url('https://fonts.googleapis.com/css?family=Merienda+One|Open+Sans&display=swap');
@import url('https://fonts.googleapis.com/css?family=Barriecito');

body {
    background-color: #99efa7;
    font-family: 'Open Sans', Arial, sans-serif;
}

h1 {
    font-family: 'Barriecito', 'Brush Script MT', cursive;
    color: #fbb70d;
    padding:75px;
    margin: none;
}

h2, h3 {
    font-family: 'Barriecito', 'Brush Script MT', cursive;
}

header {
    font-size: xx-large;
    margin: 5px;
    background: #d5531f url('../images/header-background-compressed.jpg') center/ 80%;
    border-radius:30px;
}

nav {
    font-size: 1.5rem;
    display: flex;
    justify-content: space-around;
    align-self: flex-end;
    margin: none;
}

a{
    margin: 0px;
    color:#fbb70d;
    text-transform: uppercase;
    text-decoration: none;
}

a:hover{
    color:#99efa7
}


.text-center {
    text-align: center;
}

footer{
    display:flex;
    justify-content: space-evenly;
    background-color: #6782e5;
}

footer a{
    font-family: 'Barriecito', 'Brush Script MT', cursive;
    font-size: large;
}

.menu-section{
    width: 100%;
    display: flex;
    justify-content: space around;
    align-items: center;
}

.menu-section-reverse{
    flex-direction: row-reverse;
}